<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Restaouracja</title>
	<link rel="stylesheet" href="style.css" />
	<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&amp;subset=latin-ext" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Rubik&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
	<header>
		<div class="logo-bar">
			<a href="index.html"><img src="images/logo.png" alt="logo.png"/></a>
		</div>
		<div class="top">
			<h1>Jesteś głodny?</h1>
			<p>
				Wpadaj i spróbuj naszych<br /> najlepszych potraw.
			</p>
			<a href="">ZOBACZ WIECEJ</a>
		</div>
		<nav>
			<ul>
				<li><a href="index.html">START</a></li>
				<li><a href="">O NAS</a></li>
				<li><a href="">MENU</a></li>
				<li><a href="">BLOG</a></li>
				<li><a href="kontakt.html">KOTNTAKT</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section class="section-welcome">
			<h1 class="section-header">Witamy w naszej restouracji</h1>
			<img src="images/danie_1.jpg" alt="danie1" class="welcome-first-image"/>
			<img src="images/danie_2.jpg" alt="danie2" />
			<img src="images/header_photo_small.jpg" alt="danie3" />
		</section>
		<section class="section-best-meals">
			<img src="images/ciastka.png" alt="ciastka.png" />
			<h1 class="section-header">Najlepsze posiłki o karzdej porze dnia</h1>
			<p>
				PRZYKŁADOWY TEKST1
			</p>
			<p>
				Przykladowy tekst 2
			</p>
		</section>

		<section class="section-offer">
			<div class="section-offer-single">
				<img src="images/pizza.png" alt="pizza.png" />
				<p>
					Tekst zastepczy 3
				</p>
			</div>
			<div class="section-offer-single">
				<img src="images/pizza.png" alt="pizza.png" />
				<p>
					Tekst zastepczy 4
				</p>
			</div>
		</section>
		<section class="section-newsletter">
			<div class="section-newsletter-wrapper">
				<h2>Zapisz sie na nasz newsletter</h2>
				<form action="" method="">
					<input type="email" placeholder="Podaj adres emial" />
					<button type="submit">Zapisz się</button>

				</form>
			</div>
			<div class="social-links">
				<a href="http://facebook.com"><img src="images/facebook.png" alt="facebook.png"/></a>
				<a href="http://twitter.com"><img src="images/twitter.png" alt="twitter.png"/></a>
				<a href="http://pinterest.com"><img src="images/pinterest.png" alt="pinterest.png"/></a>
			</div>

		</section>

	</main>
	<footer>
		Aby Gieuo&copy; 2017 Wszelkie prawa do stopki zastrzeżone.<br />
	</footer>
</body>

</html>
