{% extends "base.html" %}

{% block title %}Panel główny{% endblock %}

{% block content %}
  <h1>Panel główny</h1>

  {% with total_images_created=request.user.images_created.count %}
    <p>Witaj w panelu głównym. Dodałeś {{ total_images_created }} obraz{{ total_images_created|pluralize:"ów" }}.</p>
  {% endwith %}

  <p>Przeciągnij poniższy przycisk na pasek ulubionych. Zyskasz możliwość
dodawania obrazów z innych witryn internetowych → <a href="javascript:{% include
"bookmarklet_launcher.js" %}" class="button">Dodaj obraz</a><p>

  <p>Możesz <a href="{% url "edit" %}">edytować profil</a> lub
<a href="{% url "password_change" %}">zmienić hasło</a>.<p>
  <h2>Co nowego?</h2>
  <div id="action-list">
    {% for action in actions %}
      {% include "actions/action/detail.html" %}
    {% endfor %}
  </div>
{% endblock %}
